* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.65rem;
}
body{
  overflow-x: hidden;
  height: 100%;
}

:root {
  --color1: #e7beb7;
  --color2: #dfd0bc;
  --color3: #254864;
  --color4: #186a73;
  --color5: #b3c4c0;
}
