.product-viewer {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 0.9rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

/* HEADER */
.product-viewer-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 0.7fr 1fr;
  padding: 0.5rem;
  color: var(--color3);
  border-bottom: 1px solid #e5e7eb;
  background: #fafafa;
}

.product-viewer-header span{
    font-size: 0.7rem;
  
}

/* LIST SCROLL */
.product-viewer-list {
  flex: 1;
  overflow-y: auto;
}

/* ROW */
.product-row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 0.7fr 1fr;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #f0f0f0;
}

.product-row:last-child {
  border-bottom: none;
}

/* PRODUCT */
.product-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.product-image {
  width: 42px;
  height: 42px;
  border-radius: 0.4rem;
  object-fit: cover;
}

.product-title {
  margin: 0;
  font-weight: 500;
  font-size: 0.7rem;
}

/* PRICE / QUANTITY */
.product-price,
.product-quantity {
  font-weight: 500;
    font-size: 0.7rem;

}

/* STATUS */
.product-status {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.status-badge {
  padding: 0.25rem 0.7rem;
  border-radius: 999px;
  font-size: 0.65rem;
  font-weight: 500;
    text-align: center;
}

.status-badge.new {
  background: #e3f2fd;
  color: #1565c0;
}

.status-badge.offer {
  background: #e8f5e9;
  color: #2e7d32;
}

.status-badge.standard {
  background: #f1f1f1;
  color: #666;
}

/* ACTIONS */
.product-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.6rem;
}

.product-actions button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0.9rem;
  border-top: 1px solid #eaeaea;
  background-color: #ffffff;
}

.page-info {
  font-size: 0.75rem;
  color: #555;
}

.page-info strong {
  color: #111;
  font-size: 0.75rem;
}

/* BOTONES */
.page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 0.5rem;
  border: none;
  background-color: #f3f4f6;
  color: #333;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.page-btn:hover:not(:disabled) {
  background-color: #e5e7eb;
}

.page-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
/* STATES */
.loading,
.empty {
  text-align: center;
  padding: 2rem;
  color: #666;

}
